﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div>
        <canvas id="pixelCanvas" width="1000" height="600" style="border:solid black 2px;"></canvas>
    </div>
    <div>
        <fieldset>
            <legend>Choose your color</legend>
        </fieldset>
        <input type="color" id="colorPicker" />
    </div>
</div>
@section scripts{
   <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        var canvas = document.getElementById("pixelCanvas");
        var colorPicker = document.getElementById("colorPicker");

        var ctx = canvas.getContext("2d");

        var offsetX = canvas.offsetLeft;
        var offsetY = canvas.offsetTop;

        function drawAllPointsWithinAllTimeForUser(pixels) {
            var array = JSON.parse(pixels);
            for (var i = 0; i < array.length; i++) {

                addPixel(array[i].X, array[i].Y, array[i].Color);
            }
        }

        function addPixel(x, y, color) {
            ctx.beginPath();
            ctx.lineWidth = "2";
            ctx.strokeStyle = `${color}`;
            ctx.rect(x, y, 2, 2);
            ctx.stroke();
        }

        var hub = $.connection.pointerHub;
        hub.client.addPixel = addPixel;
        hub.client.drawAllPointsWithinAllTimeForUser = drawAllPointsWithinAllTimeForUser;
        $.connection.hub.start().done(function () {
            canvas.addEventListener("click", function (args) {
                var x = args.pageX - offsetX;
                var y = args.pageY - offsetY;
                var color = colorPicker.value;
                hub.server.refresh(x, y, color);
                addPixel(x, y, color);
                });
        });
    </script>
    }
